* {padding: 0; margin: 0;}

body {
  /* background: rgba(92, 153, 153, 0.534); */
}

.appContainer {
  /* background: rgba(163, 219, 71, 0.568); */
  padding: 20px;
  margin: 20px;
}

.todo-app {
  background: rgba(155, 206, 206, 0.534);
  box-shadow: 10px 10px 5px lightblue;
  margin: 20px;
  padding: 20px;
  max-width: 400px;
  margin: auto;
  text-align: center;
  border-style: solid;
  border-width: medium;
}

/* .container {display: flex; flex-direction: column;} */

.todo-list {
  list-style: none;
  padding: 0;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.todo-item.completed span {
  text-decoration: line-through;
}

.filter button {
  margin: 5px;
}

button.active {
  font-weight: bold;
}

input {
  padding: 10px;
  width: 70%;
  margin-right: 10px;
}
